<IfModule mod_rewrite.c>
    RewriteEngine On

    # Stop processing if the request is already in /public
    RewriteRule ^$ public/ [L]

    # Redirect everything else to /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>